/* background */

#accueil,
#connexion,
#inscription,
#validation,
#resultat {
    background-image: url("../storage/fond/ocean4.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#register {
    background-image: url("../storage/fond/ocean3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#login {
    background-image: url("../storage/fond/ocean.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#compte {
    background-image: url("../storage/fond/ocean1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#annonce {
    background-image: url("../storage/fond/annonce.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#vol {
    background-image: url("../storage/fond/vol.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#erreurs {
    background-image: url("../storage/erreurs/errors.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#erreur {
    background-image: url("../storage/erreurs/error.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


#messagerie {
    background-image: url("../storage/fond/messenger.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Pays */

#france {
    background-image: url("../storage/pays/france/fond1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#islande {
    background-image: url("../storage/pays/islande/fond.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#japon {
    background-image: url("../storage/pays/japon/fond.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#canada {
    background-image: url("../storage/pays/canada/fond.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#nouvelle-zelande {
    background-image: url("../storage/pays/nouvelle-zelande/fond.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#perou {
    background-image: url("../storage/pays/perou/fond.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#tanzanie {
    background-image: url("../storage/pays/tanzanie/fond.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#thailande {
    background-image: url("../storage/pays/thailande/fond.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#mexique {
    background-image: url("../storage/pays/mexique/fond.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#irlande {
    background-image: url("../storage/pays/irlande/fond.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#etats-unis {
    background-image: url("../storage/pays/etatsunis/fond.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#bresil {
    background-image: url("../storage/pays/bresil/fond.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
