/* Global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
}

body {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url('../font/RobotoCondensed-Regular.ttf') format('truetype');
}

#contents {
    flex-grow: 1;
}

/* Modification image menu hamburger */

.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}

li {
    list-style-type: none;
}


/* Messagerie */

.messagerie {
    background-color: rgb(84, 124, 146);
}


.my-custom-scrollbar {
    max-height: 600px;
    max-width: 100%;
    overflow: auto;
}

#notification {
    max-height: 400px;
    overflow: auto;
}

/* menu header */

header {
    display: flex;
    flex-direction: column;
}

.menu {
    background-color: #26495c;
    border-radius: 3px;
}

.card-img-top {
    max-height: 216px;
}

.bg-info,
.card {
    background-color: #26495c;
}

a:link,
button {
    text-decoration: none;
}

a:hover {
    color: #61d8e0 !important;
}

.btn-link:hover {
    color: rgb(230, 230, 230);
}

a,
.lien {
    color: rgb(245, 245, 245);
}

/* Pays */

.imagePays {
    overflow:hidden;
    max-width: 100vw;
    height: 470px;
    margin:0;
    padding: 0;
    border-radius: 5px;
}


.card-body, .btn-link
{
    color: white;
}

.liste {
    min-width: 350px;
}

.ombre{
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.75);
}

.avis {
    background-color: #324f6b;
    border-radius: 5px;
}

.commentaire {
    background-color: rgb(247, 247, 247);
    max-width: 400px;
    margin-top: 20px;
    border-radius: 5px;
}

.commentaire p {
    font-size: 20px;
}

.commentaire {
    font-size: 25px;
    color: black;
}

.cardExperience {
    background-color: #fff;
    color: black;
}

.cardExperience a {
    color: black;
}

/* search user */
.listeUser
{
    background-color: #5988b4 !important;
}
.listeUser:hover
{
    color: rgb(255, 255, 255);
    background-color: #324f6b !important;
}

#searchUser
{
    max-height: 280px;
    overflow: auto;
}

/* Register */

label {
    color: whitesmoke;
    margin-top: 10px;
}

.compte div h1 {
    font-size: 25px;
    border-bottom: 1px groove;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatarCompte {
    vertical-align: middle;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.formPays {
    background-color: rgb(146, 96, 96);
    border: 3px solid black;
}

/* Comparateur */

.comparateur {
    height: 600px;
    width: 600px;
}

@media all and (max-width: 580px) {
    .comparateur {
        height: 400px;
        width: 300px;
    }
}

/* formulaire de recherche */

.blanc {
    background-color: #fbfdff;
}

.cadre {
    background-color: #fbfdff;
    margin: 80px auto;
    min-width: 350px;
    padding: 20px;
    color: rgb(46, 45, 45);
    border-radius: 5px;
}

label {
    color: rgb(46, 45, 45);
}

/* Etoile */

.note {
    font-size: 25px;
    color: orange;
}

.rating {
    width: 245px;
    margin: 0 auto;
    font-size: 40px;
    overflow: hidden;
}

.rating input {
    opacity: 0;
    float: right;
}

.rating label {
    float: right;
    color: #aaa;
    text-decoration: none;
    transition: color .4s;
}

.rating label:hover~label,
.rating input:focus~label,
.rating label:hover {
    color: orange;
    cursor: pointer;
}

/* footer */

footer {
    background-color: #26495c;
    color: whitesmoke;
}

.reset {
    font-size: 20px;
    color: white;
}


/* flex */

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justif-between {
    justify-content: space-between;
}

.justif-around {
    justify-content: space-around;
}

.justif-evenly {
    justify-content: space-evenly;
}

.centre {
    align-items: center;
    display: flex;
    justify-content: center;
}
